* {
	box-sizing: border-box;
}
menu {
	list-style: none;
}
a {
	text-decoration: none;
}
.centre {
	width: 80%;
	margin: 0 auto;
}
/************header**********/
.header {
	background-image: url(images/header_background.png);
}
.header__wrapper {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}
.header__menu {
	display: flex;
}
.header__link {
	color: #fff;	
	margin-left: 25px;
}
.header__link:hover {
	color: #56a1ce;
}
/************preview*********************/
.screen {
	background-image: url(images/grad.png);
	background-size: cover;
}
.screen__all-screns {
	display: flex;
	justify-content: flex-end;
	position: relative;
	padding-bottom: 25px;
}
.screen__info {
	color: #fff;
	width: 30%;
	text-align: justify;
	margin-top: 65px;
}
.screen__title {
	font-size: 20px;
	text-transform: capitalize;
	font-weight: bold;
}
.screen__text {
	margin-top: 20px;
	line-height: 22px;
}
.screen__button {
	color: #fff;
	font-size: 25px;
	background-color: #56a1ce;
	width: 60%;
	border: none;
	border-radius: 3px;
	margin: 60px auto 0;
	cursor: pointer;
	padding: 20px;
}
.screen__page1 {
	position: absolute;
	top: 10%;
	left: 17%;	
}
.screen__page2 {
	position: absolute;
	top: 19%;
	left: 0%;
}
.screen__page3 {
	position: absolute;
	top: 30%;
	left: 4%;
}
/*********info***************/
.info {
	background-color: #fff;
	padding-bottom: 60px;
}
.subscription {
	margin-top: 75px;
	background-color: #121814;
	background-image: linear-gradient(to top, #d1d1d1 0%, #e9e8e6 100%);
	border-radius: 2px;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	position: relative;
}
.subscription:before, .subscription:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 25px;
  width: 50%;
  top: 50%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  background: rgba(0,0,0,0);  
}
.subscription:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 25px;
  left: auto;
}
.subscription__email {
	height: 45px;
	padding: 15px;
	border: none;
	border-radius: 3px;
}
.subscription__submit {
	height: 45px;
	border: none;
	border-radius: 3px;
	color: #fff;
	background-color: #56a1ce;
	cursor: pointer;
}
.articles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.container {
	width: 30%;
	margin-top: 70px;
}
.container__title {
	font-weight: bold;
	display: flex;
	align-items: center;
	text-transform: capitalize;
}
.container__text {
	margin-top: 20px;
	line-height: 22px;
}
.container__button {
	width: 30%;
	padding: 10px 10px 5px;
	font-size: 15px;
	margin-top: 25px;
	background: linear-gradient(to top,#e4e4e4 ,#fff);
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
.container__picture {
	margin-right: 5px;
}
/**********footer*****************/
.footer {
	background: url(images/footer1.png);
	color: #fff;
	padding: 30px 0;
}
.footer__wrapper {
	display: flex;
	justify-content: space-between;
}
.footer__item {
	width: 30%;
}
.footer__title {
	padding-bottom: 8px;
	font-size: 22px;
}
.footer__title:after {
	content: "";
    display: block;
    height: 5px;
    background-image: url(images/underline.png);
    background-repeat: no-repeat;
    margin-top: 10px;
}
.footer__text {
	margin-top: 25px;
	line-height: 22px;
}
.footer__button {
	width: 30%;
	height: 35px;
	background: linear-gradient(to top, #1456ac ,#1d8ed4);
	margin-top: 25px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
}
.footer__list {
	margin-top: 25px;
	list-style-image: url(images/arrow.png)
}
.footer__list-item {
	line-height: 25px;
}
.footer__form {
	margin-top: 25px;
}
.footer__input, 
.footer__textarea {
	background-color: #111010;
	padding: 10px;
	border-radius: 30px;
	border: none;
	margin-bottom: 8px;
	color: #fff;
	box-shadow: inset 2px 2px 2px 2px #000;
}
.footer__input {
	width: 70%;
}
.footer__textarea {
	width: 100%;
	min-height: 100px;
	resize: none;
	text-align: center; 
}
/**********style placeholder*********/
.placeholder::-webkit-input-placeholder {
	color: #fff;
}
.placeholder::-moz-placeholder {
	color: #fff;
}
.placeholder:-moz-placeholder {
	color: #fff;
}
.placeholder:-ms-input-placeholder {
	color: #fff;
}
.placeholder:focus::-webkit-input-placeholder {
	color: transparent
}
.placeholder:focus::-moz-placeholder          {
	color: transparent
}
.placeholder:focus:-moz-placeholder           {
	color: transparent
}
.placeholder:focus:-ms-input-placeholder      {
	color: transparent
}

/********copyright*************/
.copyright {
	background-color: #050505;
	border-top: 1px solid #4e4949;
}
.copyright__wrapper {
	color: #fff;
	padding: 15px 0;
	font-size: 12px;
}